$primary: #70c7ba;
$secondary: #49eacb;
$success: #00ff00;
$warning: #e6e156;
$danger: #db412d;
$dark: #231f20;
$neutral: #646d80;
$light: #f6f9fe;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
  "neutral": $neutral,
  "light": $light,
);
